@using System.Globalization
@using adwiseus.App_GlobalResources
@{
    ViewData["Title"] = "AdwiseUniversity";
}
<link rel="stylesheet" href="~/Content/css/Adwise.css" asp-append-version="true" />
<div class="d-flex justify-content-center align-items-center img-container position-relative ">
    <h1 class="display-4 text-white fw-bold text-header">Adwise University</h1>
    <div class="bg-black bg-opacity-25 w-100 h-100 position-absolute">
    </div>
</div>
<div class="bg-white py-5 my-4">
    <h2 class="text-center text-blue py-5">@Resources.adwise_title</h2>
</div>